@import url('https://fonts.googleapis.com/css?family=Poppins:300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
h2 {
    padding-top: 30px;
}
.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;
}
.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__poster:hover {
    transform: scale(1.08);
}
.row__posters::-webkit-scrollbar {
    display: none;
}
.row__posterLarge {
    max-height: 250px;
}
.row {
    color: white;
    margin-left: 20px ;
}
.banner { 
    background-image: url('images/mwbg.png');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 498px;
} 
.banner__contents 
{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner__title 
{
    padding-bottom: 0.3rem;
    max-width: 250px;
}
.banner__description 
{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1em;
    font-weight: 300;
    max-width: 550px;
    height: 180px;
}

.banner .banner__contents h4 
{
    color: rgba(255, 255, 2555, 0.5);
    font-weight: 500;
}
.banner .banner__contents h4 span
{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 2555, 0.5);
}
.banner .banner__contents h4 span:first-child
{
    padding-left: 0;
}
.banner .banner__contents h4 span:last-child
{
    border-right: none;
}
.banner .banner__contents h4 span i
{
    background: #de0611;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}





/* buttons */

.banner__buttons {
    position: relative;
    margin-top: 20px;
}
.button__play
{
    cursor: pointer;
    color: #000;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
}
.button__play:hover {
    color: #111;
    background-color: #e6e6e6;
    transition: all 0.2s;
}
.button__moreinfo {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: grey;
}
.button__moreinfo:hover {
    color: #111;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

/* fade bottom in banner */

.banner--fadeBottom {
    margin-top: 345px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,-61), #111 );
}

/* navigation bar */

.nav__logo {
    width: 80px;
    object-fit: contain;
    cursor: pointer;
}
.nav__profile {
    width: 30px;
    object-fit: contain;
    cursor: pointer;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.navigation
{
display: flex;
}
.navigation li 
{
list-style: none;
margin: 0 10px;
}
.navigation li a 
{
color: #fff;
text-decoration: none;
font-weight: 500;
letter-spacing: 1px;
}
.navigation li:hover a
{
    color: #de0611;
}
.nav__black {
    background-color: #111;
}


/* ---------------------- trailer in banner ------------------------- */
.trailer
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.trailer.active
{
    visibility: visible;
    opacity: 3;
}
.trailer video 
{
    max-width: 900px;
    outline: none;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/* ---------------------------------------------------------------------------------
/* poster containter spyware */
.movie_spyware {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    visibility: hidden;
    opacity: 0;
}
.movie_spyware video {

    max-width: 900px;
    outline: none;
}
.movie_spyware.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/* ---------------------------------------------------------------------------------
/* poster containter trojans */
.movie_trojans {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_trojans video {

    max-width: 900px;
    outline: none;
}
.movie_trojans.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}

/* ---------------------------------------------------------------------------------
/* poster containter ransomware */
.movie_ransomware {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_ransomware video {

    max-width: 900px;
    outline: none;
}
.movie_ransomware.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}



/* ---------------------------------------------------------------------------------
/* poster containter adware */
.movie_adware {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_adware video {

    max-width: 900px;
    outline: none;
}
.movie_adware.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/*--------------------------------------------------------------------------------
/* poster containter fileless */
.movie_fileless {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_fileless video {

    max-width: 900px;
    outline: none;
}
.movie_fileless.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}



/*--------------------------------------------------------------------------------
/* poster containter keyloggers */
.movie_keyloggers {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_keyloggers video {

    max-width: 900px;
    outline: none;
}
.movie_keyloggers.active
{
    visibility: visible;
    opacity: 1;
}
.back 
{
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}

/*--------------------------------------------------------------------------------
/* poster containter rootkits */
.movie_rootkits {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_rootkits video {

    max-width: 900px;
    outline: none;
}
.movie_rootkits.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/*--------------------------------------------------------------------------------
/* poster containter worms */
.movie_worms {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_worms video {

    max-width: 900px;
    outline: none;
}
.movie_worms.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}

/*--------------------------------------------------------------------------------
/* poster containter wiper malware */
.movie_wipermalware {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_wipermalware video {

    max-width: 900px;
    outline: none;
}
.movie_wipermalware.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/*--------------------------------------------------------------------------------
/* poster containter bots */
.movie_bots {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_bots video {

    max-width: 900px;
    outline: none;
}
.movie_bots.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/*------------------------ T H R E A T S ------------------------- */
/* poster containter deliberate acts */
.movie_deliberateacts {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_deliberateacts video {

    max-width: 900px;
    outline: none;
}
.movie_deliberateacts.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}

/*--------------------------------------------------------------------------------
/* poster containter lost infrastructure */
.movie_lostinfrastructure {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_lostinfrastructure video {

    max-width: 900px;
    outline: none;
}
.movie_lostinfrastructure.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}

/*--------------------------------------------------------------------------------
/* poster containter human error */
.movie_humanerror {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_humnanerror video {

    max-width: 900px;
    outline: none;
}
.movie_humanerror.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}

/*--------------------------------------------------------------------------------
/* poster containter attackers */
.movie_attackers {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_attackers video {

    max-width: 900px;
    outline: none;
}
.movie_attackers.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/*--------------------------------------------------------------------------------
/* poster containter errors and negligence */
.movie_errorsandnegligence {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_errorsandnegligence video {

    max-width: 900px;
    outline: none;
}
.movie_errorsandnegligence.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/*--------------------------------------------------------------------------------
/* poster containter malwares */
.movie_malwares {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_malwares video {

    max-width: 900px;
    outline: none;
}
.movie_malwares.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}


/*--------------------------------------------------------------------------------
/* poster containter force majeure */
.movie_forcemajeure {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_forcemajeure video {

    max-width: 900px;
    outline: none;
}
.movie_forcemajeure.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}

/*--------------------------------------------------------------------------------
/* poster containter technical failure */
.movie_technicalfailure {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_technicalfailure video {

    max-width: 900px;
    outline: none;
}
.movie_technicalfailure.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}



/*--------------------------------------------------------------------------------
/* poster containter fraud and theft */
.movie_fraudandtheft {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.movie_fraudandtheft video {

    max-width: 900px;
    outline: none;
}
.movie_fraudandtheft.active
{
    visibility: visible;
    opacity: 1;
}
.back {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    top: 100px;
    left: 250px;
    filter: invert(2);
    max-width: 35px;
}
.close  
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(2);
    max-width: 32px;
}

/*-------------------------- ABOUT US PAGE ---------------------------- */
.main-div
{
    background-color: #000;
    width: 100vw;
    height: 100vh;
   /*  background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.main-div h1
{
    padding-top: 20%;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    font: 600;
}

.memberDiv
{
    display: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.memberDiv .btn
{
    height: 3vw;
    min-height: 8rem;
    max-height: 10rem;
    width: 10vw;
    min-width: 8.4px;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    margin-top: 3rem;
    margin-right: 4rem;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.memberDiv .btn:nth-child(1)
{
    background-image: url(images/miranda.jpg);
}
.memberDiv .btn:nth-child(2)
{
    background-image: url(images/camat.png);
}
.memberDiv .btn:nth-child(3)
{
    background-image: url(images/furio.jpg);
}
.memberDiv .btn:nth-child(4)
{
    background-image: url(images/pines.jpg);
}
.memberDiv .btn:nth-child(5)
{
    background-image: url(images/palad.jpg);
}
.memberDiv .btn:hover
{
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.9);
}
.memberDiv .btn p
{
    width: inherit;
    position: absolute;
    bottom: -13.5rem;
    left:  0;
    text-transform: capitalize;
    color: white;
    font-size: 1.3rem;
}
.memberDiv .btn span
{
    width: inherit;
    /* background-color: red; */
    position: absolute;
    bottom: -6.5rem;
    left:  0;
    text-transform: capitalize;
    color: rgb(153, 153, 153);
    font-size: 1.5rem;
}
.manageProfile
{
    border: 1px solid grey;
    color: gray;
    text-transform: uppercase;
    padding: 0.8rem 3.6rem;
    letter-spacing: .5rem;
    font: 2.5rem;
    margin: 16rem;
    background-color: transparent;
    cursor: pointer;
}
.manageProfile:hover
{
    border: 1px solid #fff;
    color: #fff;
}

/*-------------------------- F A Q S P A G E ---------------------------- */
.faq 
{
    color: #fff;
    padding: 100px 12%;
    text-align: center;
    font-size: 18px;
    background-color: #000;
}
.faq h1 
{
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accordion 
{
    margin: 60px;
    width: 100%;
    max-width: 750px;
}
.accordion li
{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label
{
    display: flex;
    align-items: center;
    margin-left: 120px;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
} 
label::after
{
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"] 
{
    display: none;
}
.accordion .content 
{
    margin-left: 120px;
    background:#303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content
{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after
{
    transform: rotate(135deg);
}


/*--------------- F O O T E R --------------------*/
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 375px;
    background-color: black;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
  
  }
  
  .footercon {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: transparent;
  }
  
  .footer .flex1 {
    color:#999;;
    justify-content:space-around;
    align-items:flex-start;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    font-size: 17px;
    min-height: 30px;
  
  }
  
  .footer .flex1 h5 {
    align-self:flex-start;
  }
  
  .list1 {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: flex-start;
    align-self: center;
    justify-content: center;
    min-height:50px;
    font-size: 13px;
    padding: 0px 70px;
    text-align: left;
  }
  
  .list1 li {
    font-size: 13px;
    margin: 7px -10px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: center;
    align-self: flex-start;
    justify-content: center;
  }
  
  .list1 li a {
    color: #999;
    text-decoration: none;
    font-size: 14px;
  }
  
  li a {
    font-size: 13px;
    text-align: center;
    color: #999;
  }
  
  
  .footertxt {
    color:white;
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content: flex-end;
  }
  
  .end {
    width:100%;
    min-height:50px;
  background-color: black;
  justify-content:space-around;
  align-items:flex-start;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  color:#999;
  margin-top:-60px;
  }
  
  .end h2 {
    display:flex;
    flex-direction: row;
  font-size:16px;
  }